In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load datasets
behaviors = pd.read_parquet("/kaggle/input/ebnerd-large/behaviors.parquet")
articles = pd.read_parquet("/kaggle/input/ebnerd-large/articles.parquet")
history = pd.read_parqyet(("/kaggle/input/ebnerd-large/history.parquet"))
print(behaviors)

          impression_id  article_id     impression_time  read_time  \
0                 47727         NaN 2023-05-21 21:35:07       20.0
1                 47731         NaN 2023-05-21 21:32:33       13.0
2                 47736         NaN 2023-05-21 21:33:32       17.0
3                 47737         NaN 2023-05-21 21:38:17       27.0
4                 47740         NaN 2023-05-21 21:36:02       48.0
...                 ...         ...                 ...        ...
12063885      580100982         NaN 2023-05-18 10:27:05        9.0
12063886      580100984         NaN 2023-05-18 10:30:39       13.0
12063887      580100987         NaN 2023-05-18 10:27:28       13.0
12063888      580100996         NaN 2023-05-18 10:08:18       35.0
12063889      580101002         NaN 2023-05-18 10:29:10       28.0

          scroll_percentage  device_type  \
0                       NaN            1
1                       NaN            1
2                       NaN            1
3                       NaN            1
4                       NaN            1
...                     ...          ...
12063885                NaN            1
12063886                NaN            1
12063887                NaN            1
12063888                NaN            2
12063889                NaN            2

                                         article_ids_inview  \
0         [9482380, 9775183, 9744403, 9775297, 9774020, ...
1             [9774557, 9774516, 9775331, 9775277, 9759966]
2         [9759966, 9774557, 9775352, 9746360, 9772601, ...
3         [9774580, 9775131, 9775202, 9774789, 9774972, ...
4         [9774826, 9775171, 9775076, 9769624, 9775056, ...
...                                                     ...
12063885  [9142581, 9233208, 9345280, 9486080, 9769306, ...
12063886      [9440508, 9142581, 9486080, 9345280, 9720068]
12063887  [9695098, 9345280, 9142581, 9747757, 9735909, ...
12063888  [9769917, 9771126, 9345280, 9233208, 9771166, ...
12063889  [9770886, 9771237, 9771128, 9771065, 9771166, ...

         article_ids_clicked  user_id  is_sso_user  gender  postcode  age  \
0                  [9775183]    18293        False     NaN       NaN  NaN
1                  [9759966]    18293        False     NaN       NaN  NaN
2                  [9774652]    18293        False     NaN       NaN  NaN
3                  [9775184]    18293        False     NaN       NaN  NaN
4                  [9774648]    18293        False     NaN       NaN  NaN
...                      ...      ...          ...     ...       ...  ...
12063885           [9769306]  2111769        False     NaN       NaN  NaN
12063886           [9720068]  2111769        False     NaN       NaN  NaN
12063887           [9735909]  2111769        False     NaN       NaN  NaN
12063888           [9771126]  2111774        False     NaN       NaN  NaN
12063889           [9771042]  2111797        False     NaN       NaN  NaN

          is_subscriber  session_id  next_read_time  next_scroll_percentage
0                 False         265            34.0                   100.0
1                 False         265            45.0                   100.0
2                 False         265            78.0                   100.0
3                 False         265             6.0                    52.0
4                 False         265            32.0                   100.0
...                 ...         ...             ...                     ...
12063885          False    22980659            12.0                    36.0
12063886          False    22980660            30.0                   100.0
12063887          False    22980659            19.0                    24.0
12063888          False    71230199            14.0                    22.0
12063889          False    96282319             6.0                    78.0

[12063890 rows x 17 columns]

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [3]:
behaviors_articles = pd.merge(behaviors, articles, on='article_id', how='left')
behaviors_articles = behaviors_articles[behaviors_articles['gender'].notna()]
print(behaviors_articles)

          impression_id  article_id     impression_time  read_time  \
22986           1264789   9777026.0 2023-05-23 12:46:54       14.0
22987           1264796   9777475.0 2023-05-23 12:41:31       97.0
22988           1264797   9775908.0 2023-05-23 12:43:09      197.0
22989           1264798   9777026.0 2023-05-23 12:48:35        7.0
22990           1264800   9777704.0 2023-05-23 12:37:26      126.0
...                 ...         ...                 ...        ...
12031770      578904408         NaN 2023-05-22 03:00:56       20.0
12031771      578904410         NaN 2023-05-22 03:04:50       39.0
12031772      578904413         NaN 2023-05-22 03:03:55       29.0
12031774      578904445   9682487.0 2023-05-22 03:25:39       62.0
12031775      578904447   9766752.0 2023-05-22 03:27:25       93.0

          scroll_percentage  device_type  \
22986                 100.0            1
22987                 100.0            1
22988                   NaN            1
22989                 100.0            1
22990                 100.0            1
...                     ...          ...
12031770                NaN            3
12031771                NaN            3
12031772                NaN            3
12031774              100.0            2
12031775              100.0            2

                                         article_ids_inview  \
22986     [9777299, 9777406, 9777393, 9759955, 9777385, ...
22987     [9418107, 9736745, 9777320, 9771187, 9777693, ...
22988     [9777475, 9535187, 9203696, 9775908, 9777520, ...
22989     [9776259, 9777299, 9774944, 9775323, 9775701, ...
22990     [9777693, 9774803, 9775983, 9777704, 9769892, ...
...                                                     ...
12031770  [9774595, 8882254, 9775361, 9775402, 8518990, ...
12031771  [9775323, 9774652, 9775183, 9774516, 9774020, ...
12031772  [9482380, 9775371, 9774187, 9738729, 9774461, ...
12031774      [9767903, 9775489, 9775493, 9775484, 9775500]
12031775  [9775347, 9766042, 9766721, 9775484, 9775500, ...

         article_ids_clicked  user_id  is_sso_user  ...  \
22986              [9777299]   460523         True  ...
22987              [9775908]   460523         True  ...
22988              [9777026]   460523         True  ...
22989              [9774944]   460523         True  ...
22990              [9777648]   460523         True  ...
...                      ...      ...          ...  ...
12031770           [9775361]   479309         True  ...
12031771           [9775171]   479309         True  ...
12031772           [9482380]   479309         True  ...
12031774           [9775484]   481688         True  ...
12031775           [9775485]   481688         True  ...

                                              entity_groups  \
22986     [PROD, LOC, PROD, EVENT, PER, PER, LOC, ORG, L...
22987                 [PER, PROD, PROD, LOC, ORG, PER, ORG]
22988                                            [PER, PER]
22989     [PROD, LOC, PROD, EVENT, PER, PER, LOC, ORG, L...
22990              [PER, PER, ORG, ORG, LOC, ORG, PER, ORG]
...                                                     ...
12031770                                                NaN
12031771                                                NaN
12031772                                                NaN
12031774                     [ORG, LOC, ORG, PER, PER, ORG]
12031775      [PER, LOC, LOC, LOC, PER, ORG, LOC, PER, PER]

                                                     topics  category  \
22986     [Kendt, Livsstil, Underholdning, Begivenhed, M...     414.0
22987             [Livsstil, Samfund, Sport, Mad og drikke]     512.0
22988             [Kriminalitet, Personfarlig kriminalitet]     140.0
22989     [Kendt, Livsstil, Underholdning, Begivenhed, M...     414.0
22990     [Erhverv, Privat virksomhed, Sport, Fodbold, Ø...     142.0
...                                                     ...       ...
12031770                                                NaN       NaN
12031771                                                NaN       NaN
12031772                                                NaN       NaN
12031774  [Erhverv, Ansættelsesforhold, Politik, Interna...     118.0
12031775  [Politik, International politik, Konflikt og k...     118.0

              subcategory   category_str  total_inviews  total_pageviews  \
22986               [432]  underholdning       748840.0         197066.0
22987                  []       nationen       328095.0          76612.0
22988                  []          krimi       641611.0          97693.0
22989               [432]  underholdning       748840.0         197066.0
22990     [196, 199, 200]          sport       430705.0         106000.0
...                   ...            ...            ...              ...
12031770              NaN            NaN            NaN              NaN
12031771              NaN            NaN            NaN              NaN
12031772              NaN            NaN            NaN              NaN
12031774            [133]        nyheder       556274.0         104757.0
12031775            [133]        nyheder       382459.0          68857.0

         total_read_time sentiment_score sentiment_label
22986         10179357.0          0.5496         Neutral
22987          4387200.0          0.9371         Neutral
22988          8521384.0          0.9934        Negative
22989         10179357.0          0.5496         Neutral
22990          5500252.0          0.9883        Negative
...                  ...             ...             ...
12031770             NaN             NaN             NaN
12031771             NaN             NaN             NaN
12031772             NaN             NaN             NaN
12031774       4937066.0          0.8086        Negative
12031775       3330363.0          0.9821        Negative

[886983 rows x 37 columns]

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [6]:
# Proportion of male and female users
gender_proportion = behaviors_articles['gender'].value_counts(normalize=True)

# Average articles read per active day
avg_articles_per_day = behaviors_articles.groupby('gender')['article_id'].count() / behaviors_articles.groupby('gender')['user_id'].nunique()

# Average active days
avg_active_days = behaviors_articles.groupby('gender')['session_id'].nunique() / behaviors_articles.groupby('gender')['user_id'].nunique()

summary_table = pd.DataFrame({
    'Proportion of User Base': gender_proportion,
    'Avg Active Days': avg_active_days,
    'Avg Articles Read per Active Day': avg_articles_per_day
})
print(summary_table)

        Proportion of User Base  Avg Active Days  \
gender
0.0                    0.876176        13.269491
1.0                    0.123793        10.710330
2.0                    0.000032        16.000000

        Avg Articles Read per Active Day
gender
0.0                             8.362542
1.0                             7.177533
2.0                             0.000000

In [5]:
# Explode the subcategory column
behaviors_articles_exploded = behaviors_articles.explode('subcategory')

# Top categories by gender
top_categories = behaviors_articles.groupby(['gender', 'category_str'])['article_id'].count().reset_index(name='count')
top_categories = top_categories.sort_values(by=['gender', 'count'], ascending=[True, False])

# Top subcategories by gender
# top_subcategories = behaviors_articles_exploded.groupby(['gender', 'subcategory'])['article_id'].count().reset_index(name='count')
# top_subcategories = top_subcategories.sort_values(by=['gender', 'count'], ascending=[True, False])
# top_subcategories = behaviors_articles_exploded.groupby(['gender', 'subcategory', 'category_str'])['article_id'].count().reset_index(name='count')
# top_subcategories = top_subcategories.sort_values(by=['gender', 'count'], ascending=[True, False])

# Display top 10 categories and subcategories for each gender
print("Top Categories by Gender:")
print(top_categories.groupby('gender').head(10))

# print("\nTop Subcategories by Gender:")
# print(top_subcategories.groupby('gender').head(10))

Top Categories by Gender:
    gender   category_str  count
9      0.0        nyheder  91064
16     0.0          sport  44080
17     0.0  underholdning  36644
6      0.0          krimi  32855
11     0.0          penge  13799
8      0.0       nationen   9354
7      0.0          musik   4517
3      0.0        forbrug   4310
14     0.0  sex_og_samliv   1652
15     0.0          side9    391
28     1.0        nyheder  13836
34     1.0  underholdning   7155
25     1.0          krimi   6188
33     1.0          sport   4791
30     1.0          penge   1772
27     1.0       nationen   1232
22     1.0        forbrug    709
26     1.0          musik    668
31     1.0  sex_og_samliv    141
32     1.0          side9     19

Top Subcategories by Gender:
     gender  subcategory   category_str  count
7       0.0          133        nyheder  47558
39      0.0          327          sport  19938
11      0.0          196          sport  16560
5       0.0          130        nyheder  16008
3       0.0          127        nyheder  15423
50      0.0          349          sport  14488
55      0.0          432  underholdning  13507
51      0.0          425  underholdning  10175
6       0.0          131        nyheder   9761
24      0.0          227          sport   7960
105     1.0          133        nyheder   8182
135     1.0          327          sport   2475
103     1.0          130        nyheder   2430
150     1.0          432  underholdning   2279
146     1.0          425  underholdning   2115
145     1.0          349          sport   1965
101     1.0          127        nyheder   1693
109     1.0          196          sport   1608
104     1.0          131        nyheder   1522
147     1.0          429  underholdning   1143